{{ define "application" }}
<!DOCTYPE html>
<html>
  {{ template "head" . }}
  <body>
    {{ template "header" . }}
    <div class="site">
      <article>
        <div class="intro">
          <h1>{{ .Page.Title }}</h1>
          <div class="meta"></div>
        </div>
        <div>{{ .Page.FormattedBody }}</div>
      </article>
    </div>
  </body>
</html>
{{ end }}
