{{define "header"}}
  <head>
     <title>{{ .Title }}</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width" />
      <link href="http://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection">
  </head>
{{end}}
